*{

	margin: 0;
	padding: 0;
}

body{
background: bllue;
font-family: Arial;
}

.contenedor{
width: 80%;
margin: 0 auto;
overflow: hidden;
}

header h1{
	background: green;
	padding: 20px 0;
	text-align: center;
}

.main{
width: 70%;
background: #fff;
padding: 20px;
float: left;
box-sizing: border-box;
}

.main img {
	width: 50%;
	height: auto;
	
}

aside{

	width: 30%;
	padding: 20px;
	box-sizing: border-box;
	background: #ccc;
	float: left;
}

footer {

	clear: both;
	float: left;
	margin-top: 20px;
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	color: #fff;
	background: #000;
}

@media screen and (max-width: 800px)
{
	body{
		background: yellow;
	}

	.main {

		width: 100%;
	}
	aside{
		width: 100%;
	}
}
